*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color: #01214a;
}
input{
    background-color: transparent;
    border: 1px black solid;
}
input[type="color"]{
    height:20px
}
select{
    background-color: transparent;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f0f0ff;
    min-width: 1500px;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1146px;
    /* border: 1px black solid; */
    /* background: linear-gradient(-55deg,#001f45 2.5%, #284466 25%, #395373 55%, #607b9c 100%); */
    background: repeating-linear-gradient(-55deg,#6d8bb1 0%, #ffffff 0.1%);
    box-shadow: inset 0px 0px 27px 6px gray,  0px 0px 53px 0px #6d8bb1 ;
}
.main-header{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.display-container{
    border: 1px red solid;
    width: 800px;
    height: 300px;
    background-color: white;
}
#myPlot{
    width: 800px;
    height: 280px;
}
.form-container{
    width: 800px;
    /* border: 1px black solid; */
}
.plot-num, .curve-num{
    border: solid rgb(85, 80, 80);
    border-width: 0px 0px 1px 0px;
    margin: 10px 0px;
    font-size: 18px;
}
.plot-num input, .curve-num input{
    margin: 5px 0px;
    outline: none;
    background-color: transparent;
    border: 1px solid black ;
    padding-left:4px;
}
/* .plot-info{
    border: 1px black solid;
} */
.curve-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    margin-bottom: 15px;
    position: relative;
}

.curve-info>div{
 width: 710px;
}
.x-axis label, .y-axis label{
    width: 50px;
    display: inline-block;
}
.x-axis input, .y-axis input{
    width: 650px;
    outline: none;
}
.sub-curve-info-container{
    display: flex;
    flex-direction: row;
}
.sub-curve-info-container>div{
    width: 150px;
    display: flex;
    align-items: center;
}
.sub-curve-info-container .label-legend{
    width: 288px;
}
.sub-curve-info-container .label-legend input{
    width: 168px;
    outline: none;
}
.sub-curve-info-container .line-color{
    width: 131px;
}
.sub-curve-info-container .line-width{
    width: 140px;
}
.sub-curve-info-container .line-width input{
    outline: none;
}
.curve-info .error-message{
    width: 200px;
    height: 25px;
    /* border: 1px black solid; */
    background-color: white;
    position: absolute;
    top: 0px;
    left: 598px;
    border-radius: 7px;
    display: none;
    align-items: center;
    justify-content: center;
    color: hsl(0, 100%, 50%);
}
.curve-info .error-message::after{
    content: "";
    border-style: solid;
    border-width:11px;
    border-color: white transparent transparent transparent;
    position: absolute;
    top: 2.3px;
    left: -21px;
    transform: rotate(90deg);
}
.axis-range{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.sub-axis-range-container{
    display: flex;
    flex-direction: row;

}
.x-axis-range, .y-axis-range{
    width: 170px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.x-axis-range label, .y-axis-range label{
    width: 38px;
    text-align: right;
    display: inline-block;
    /* border: 1px black solid; */
}
.x-axis-range input, .y-axis-range input{
    width: 83px;
}
.label{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    margin-top: 15px;
}
.label .label-header h2{
    font-size: 29px;
}
.x-label-container, .y-label-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
}
.sub-x-label-container, .sub-y-label-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4px;
}
.sub-x-label-container>div, .sub-y-label-container>div{
    display: flex;
    align-items: center;
}
.x-label input, .y-label input{
    width: 200px;
}
.x-font-size input, .y-font-size input{
    width: 50px;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    margin-top: 20px;
}
.title-header h1{
    font-size: 29px;
}
.sub-title-container{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
.title-container input{
    width: 200px;
}
.title-font-size input{
    width: 50px;
}
.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    margin-top: 20px;

}
.grid-header h1{
    font-size: 29px;
}
.grid-info{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.is-container{
    /* border: 1px black solid; */
    padding-left: 119px;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    align-items: center;
    column-gap: 4px;
    position: relative;
    user-select: none;
}
.is-container label{
    color: #ed0404;
}
.is-container input{
    width: 15px;
    height: 15px;
    opacity: 0;
    z-index: 4;

}
.checkbox{
    position: absolute;
    top: 3px;
    left: 119px;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 1px rgb(255, 255, 255) solid;
}
.is-container:hover .checkbox{
    background-color: rgb(221, 248, 248);
}
.is-container input:checked~.checkbox{
    background-color: #09e32a;
}
.checkbox::after{
    content: "";
    position: absolute;
    top: 3px;
    left: 2px;
    width: 6px;
    height: 2px;
    border: white solid;
    border-width:0px 0px 3px 3px;
    transform: rotate(-45deg);
    display: none;
}
.is-container input:checked~.checkbox::after{
    display: block;
}
.legend-container{
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}
.legend-header h1{
    font-size: 29px;
}
.sub-legend-container{
    display: flex;
    flex-direction: row;
    column-gap: 4px;
}
.legend-title input{
    width: 200px;
}
.sup-title-container{
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    margin-bottom: 20px;
}
.sub-sup-title-container{
    display: flex;
    flex-direction: row;
    column-gap: 5px;

}
.sup-title input{
    width: 200px;
}
.show-btn-container{
    position: relative;
    height: 60px;
}
.show-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 36px;
    font-size: 17px;
    border: 0px white solid;
    position: absolute;
    top: 0px;
    left: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    background-color: #09e32a;
    color: white;
    transition: 1s all;
    cursor: pointer;
}
.show-btn::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 36px;
    transition: 1s all;
    background-color: #ffffff52;
}
.show-btn::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 30px;
    width: 59px;
    height: 35px;
    border: 1px rgb(255, 255, 255) solid;
    transition: 1s all;
    background-color: transparent;
    opacity: 0;
}
.show-btn:hover{
    box-shadow: 0px 0px 23px 6px #74f39d;
    /* border: 1px rgb(255, 255, 255) solid; */
    /* z-index: 3; */
}
.show-btn:hover::after{
    opacity: 0;
    transform: scale(0.2, 1);
}
.show-btn:hover::before{
    opacity: 1;
    transform: scale(2, 1);
}